{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - skip_styles: {Boolean} Don't include component styles. Useful when rendering multiple product cards in a loop. Default: false (optional)
  - quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}
{% assign first_variant = product.variants.first %}

{% assign has_discount = first_variant.compare_at_price > first_variant.price %}

<div class="w-[315px] h-[452px] flex flex-col relative gap-[15px]">
  {% if has_discount %}
    <div class="absolute top-[20px] left-[20px] border border-red-500 px-2 py-1 rounded">
      <span class="text-red-500 text-sm font-medium">On Sale!</span>
    </div>
  {% endif %}

  <a
    href="{{ product.url }}"
    class="h-[340px] w-[315px] px-[20px] py-[20px] border rounded-[10px] bg-center bg-contain border-[#f8f8f8]"
  >
    <img
      class="h-[301px] w-auto object-contain"
      src="{{ first_variant.featured_image | img_url: 'master' }}"
      alt="{{ product.title }}"
    >
  </a>

  <div class="flex gap-[5px] mt-2">
    {% for variant in product.variants %}
      <div class="w-[24px] h-[24px] rounded-full flex justify-center items-center {% if forloop.first %}border border-[rgba(10,72,116,1)]{% endif %}">
        <div
          class="w-[20px] h-[20px] rounded-full"
          style="background-color: {{ variant.metafields.custom.color_hex.value | default: 'transparent' }};"
        ></div>
      </div>
    {% endfor %}
  </div>

  <div class="flex flex-col gap-[6px] mt-2">
    <span class="block text-gray-900 leading-[16px]">{{ product.vendor }}</span>
    <span class="block font-medium text-[16px] leading-[18px] text-[rgba(10,72,116,1)]">{{ product.title }}</span>

    <div class="text-sm">
      {% if has_discount %}
        <span class="line-through text-gray-400 mr-2">{{ first_variant.compare_at_price | money }}</span>
      {% endif %}
      <span class="font-semibold text-[rgba(10,72,116,1)]">{{ first_variant.price | money }}</span>
    </div>
  </div>
</div>
